<%- include("./includes/head") %>
<section class="detail">
    <h1><%= post.title %></h1>
    <img src="<%= post.photo %>" alt="">
    <p class="desc"><%= post.description %></p>
</section>

<%- include("./includes/footer") %>